<footer class="dark-footer">
  <div class="footer-container">
    <div class="footer-content">
      <p>© 2003 - present Bioconductor | Join the Bioconductor Community</p>
      <div class="footer-socials">
        <a href="https://github.com/Bioconductor/bioconductor-training" target="_blank" rel="noopener noreferrer" title="Bioconductor Training on GitHub">
          <img alt="GitHub" src="/images/icons/svgs/github-white.svg"/>
        </a>
        <a href="https://chat.bioconductor.org/" target="_blank" rel="noopener noreferrer" title="Join the Bioconductor Community Chat (powered by Zulip)">
          <img alt="Zulip" src="/images/icons/svgs/zulip-white-icon.svg" />
        </a>
        <a href="https://www.youtube.com/user/bioconductor" target="_blank" rel="noopener noreferrer" title="Bioconductor on YouTube">
          <img alt="YouTube Logo" src="/images/icons/svgs/youtube.svg" />
        </a>
        <a href="https://www.linkedin.com/company/bioconductor/" target="_blank" rel="noopener noreferrer" title="Bioconductor on LinkedIn">
          <img alt="LinkedIn Logo" src="/images/icons/svgs/linkedin.svg" />
        </a>
        <a href="https://bsky.app/profile/bioconductor.bsky.social" target="_blank" rel="noopener noreferrer" title="Bioconductor on Bluesky">
          <img alt="Bluesky Logo" src="/images/icons/svgs/bluesky.svg" />
        </a>
        <a href="https://genomic.social/@bioconductor" target="_blank" rel="noopener noreferrer" title="Bioconductor on Mastodon">
          <img alt="Mastodon Logo" src="/images/icons/svgs/mastodon.svg" />
        </a>
        <a href="https://blog.bioconductor.org/" target="_blank" rel="noopener noreferrer" title="Bioconductor Blog">
          <img alt="Blog Logo" src="/images/icons/svgs/arrow-circle-right-white.svg" />
        </a>
      </div>
    </div>
  </div>
</footer>
